<div id="header" class="header d-flex align-items-center flex-direction-row">
    <div id="logo-infinix" class="logo-infinix d-flex align-items-center flex-direction-row">
        <a href="/dashboard" class="d-flex">
            <img src="../../assets/pictures/logoInfinix.png"/>
        </a>
    </div>
    <div id="header-right-part" class="header-right-part d-flex flex-direction-row">
        <div id="header-center" class="header-center d-flex align-items-center flex-direction-row">
            <div>
                <span id="header-date" class="header-date">{{ today }}</span>
            </div>
            <div id="header-title" class="header-title">
                <h1>{{ pageName }}</h1>
            </div>
            <div>
                <mat-form-field class="header-search-wrapper">
                    <mat-label>Rechercher</mat-label>
                    <input matInput id="header-search">
                </mat-form-field>
            </div>
        </div>
        <div id="user-part" class="user-part d-flex align-items-center flex-direction-row">
            <div  id="user-connected">
                <button mat-button [matMenuTriggerFor]="menu" id="menu-user" class="menu-user">
                    <span>{{ connectedUser.name }} {{ connectedUser.surname }}</span>
                    <span style="font-size: 10px;">Administrateur</span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Language : {{ locale }}</button>
                </mat-menu>
            </div>
            <div id="logout" class="logout">
                <button mat-mini-fab color="primary" (click)="logout()">
                    <mat-icon aria-hidden="false" style="color: white;">power_settings_new</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
