@import "../../common/common.less";

::ng-deep .mat-form-field-infix {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field, mat-checkbox {
  padding-top: 2em;
}

.acceptPassengers {
  padding-bottom: 2em;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
}

.modal-header {
  position: relative;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & button {
    margin-left: 1em;
  }
}

.form-container {
  display: flex;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mapbox {
    width: 500px;
    height: 460px;
    border: 1px solid silver;
    border-radius: 0.5em;
    margin-left: 1em;
  }
}
