<div id='notif-modal' class='notif-modal'>
  <div class='notif-header'>
    <h1>Notifications</h1>
  </div>
  <div *ngIf="connectedUser.authorizationAccess===1; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class='notif-content'>
      <div>
        <button mat-button (click)="redirectTo('loan', '1')">
          <div>
            <span>Réservation à valider :
              {{notificationCountStatutEnAttenteDeValidation}}</span>
          </div>
        </button>
      </div>
      <div>
        <button mat-button (click)="redirectTo('loan','4')">
          <div>
            <span>Mes réservation : {{notificationCountBookingUser}}</span>
          </div>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class='notif-content'>
      <button mat-button (click)="redirectTo('loan', '4')">
        <div>
          <span>Mes réservation : {{notificationCountBookingUser}}</span>
        </div>
      </button>
    </div>
  </ng-template>
</div>