.message {
    margin-left: 1em;
    font-size: 1.2em;
}

.snackbar-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1em;
}

.icon-warning {
    color: #ff9800;
}

.icon-error {
    color: #f44336;
}

.icon-success {
    color: #4caf50;
}

.icon-info {
    color: #304ffe;
}