<div class='modal-header'>
  <div>
    <h1>Vos réservations</h1>

    <tr *ngFor="let booking of (rowsBookingsUser)">
      <div><span>Nom du demandeur : {{booking.User.surname}}{{booking.User.name}}</span></div>
      <div><span>date de début  : {{booking.startDate | date: 'fullDate'}}</span></div>
      <div><span>date de fin : {{booking.endDate | date: 'fullDate'}}</span></div>
      <div><span>Nom du Site : {{booking.Site.label}}</span></div>
    </tr>

    <div class='actions'>
      <button mat-stroked-button *ngIf='!isReadMode()' (click)='close()'>Annuler</button>
    </div>

  </div>
</div>
