<div *ngIf="IsMobile()"></div>
<div id="auth-container">
  <div id="wrapper" class="wrapper">
    <canvas #canvas></canvas>
    <div id="container" class="container">
      <mat-card id="send-mail-form" class="send-mail-form">
        <mat-card-header>
          <mat-card-title>Réinitialisation Mot de Passe</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form
            class="send-mail-form-group"
            [formGroup]="resetPasswordMailForm"
            (keydown)="sendForm($event)"
          >
            <mat-form-field>
              <mat-label>Adresse mail</mat-label>
              <input matInput id="email" formControlName="email" />
              <mat-error
                *ngIf="
                  registerFormControls.email.touched &&
                  registerFormControls.email.invalid &&
                  registerFormControls.email.errors?.required
                "
                class="alert alert-danger"
              >
                Adresse mail requise.
              </mat-error>
              <mat-error
                *ngIf="
                  registerFormControls.email.touched &&
                  registerFormControls.email.invalid &&
                  registerFormControls.email.errors?.email
                "
                class="alert alert-danger"
              >
                Le format de l'adresse mail n'est pas correct.
              </mat-error>
            </mat-form-field>
            <div
              style="
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-end;
              "
            >
              <button mat-button (click)="sendResetMail()">Envoyer</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
