<div id='user-container' class='user-container'>
  <div is='wrapper' class='wrapper'>
    <div id='container' class='container'>
      <div class='button-add-user'>
        <button mat-raised-button color='primary' class='add-user' (click)="openUserModal('new', null)">
          Ajouter un utilisateur
        </button>
      </div>
      <mat-card class='wrapper-card'>
        <mat-card-header class='wrapper-card-header'>
          <div id='filters' class='filters'>
            <mat-form-field class='site-wrapper'>
              <mat-label>Rechercher</mat-label>
              <input matInput id='search' (keyup)='applyFilter($event)' #input>
            </mat-form-field>
          </div>
        </mat-card-header>
        <mat-card-content style='margin: 2em; position: relative;' class='wrapper-card-content'>
          <table mat-table [dataSource]='dataSource' multiTemplateDataRows class='mat-elevation-z8' matSort>
            <ng-container matColumnDef='{{column}}' *ngFor='let column of columnsToDisplay'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsName[column]}} </th>
              <ng-container *ngIf="column !== 'action' && column !== 'enabled' && column !== 'authorizationAccess' && column !== 'site'">
                <td mat-cell *matCellDef='let user'> {{user[column]}} </td>
              </ng-container>
              <ng-container *ngIf="column === 'enabled'">
                <td mat-cell *matCellDef='let user'>
                  <mat-slide-toggle class='slide-toggle' [checked]='user.enabled'
                                    (change)='onUserSwitchToggle($event, user)'>
                  </mat-slide-toggle>
                </td>
              </ng-container>
              <ng-container *ngIf="column === 'authorizationAccess'">
                <td mat-cell *matCellDef='let user'> {{ displayProfile(user[column]) }} </td>
              </ng-container>
              <ng-container *ngIf="column === 'site'">
                <td mat-cell *matCellDef='let user'> {{ user[column]?.label }} </td>
              </ng-container>
              <ng-container *ngIf="column === 'action'">
                <td mat-cell *matCellDef='let user'>
                  <button class='action-btn' mat-raised-button color='primary' (click)="updateUserDialog('update', user)">
                    Éditer
                  </button>
                  <button class='action-btn' mat-raised-button color='warn' (click)='deleteUser(user)'>Supprimer
                  </button>
                </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='columnsToDisplay; sticky: true'></tr>
            <tr mat-row *matRowDef='let row; columns: columnsToDisplay;'></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
