<div id='loan-modal'>
    <div class='modal-header'>
        <div>
            <h1>Clôture de la réservation</h1>
        </div>
        <button mat-icon-button class='close-button' (click)='close()'>
            <mat-icon style='color: rgba(0, 0, 0, 0.54)'>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class='form-container'>
        <form [formGroup]='closeloanForm' class='form'>
            <div>
                <div>
                    <mat-form-field style='width: 45%'>
                        <mat-label>Kilometrage véhicule</mat-label>
                        <input matInput aria-label='Kilometrage véhicule' formControlName='kilometreloan' placeholder="130 000">
                        <mat-icon matSuffix>speed</mat-icon>
                    </mat-form-field>

                    <mat-form-field style='width: 45%; margin-left:10%'>
                        <mat-label>Essence</mat-label>
                        <input matInput aria-label='Essence' formControlName='essenceloan' placeholder="50">
                        <mat-icon matSuffix>local_gas_station</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style='width: 100%'>
                        <mat-label>Commentaire</mat-label>
                        <textarea matInput aria-label='Commentaire' formControlName='commentloan' placeholder="Voyant moteur"></textarea>
                        <mat-icon matSuffix>feedback</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class='actions'>
                <button mat-stroked-button (click)='close()'>Annuler</button>
                <button mat-raised-button color='primary' [disabled]='!isSaveDisabled()'
                        (click)='close(true)'>Valider
                </button>
            </div>
        </form>
    </div>
</div>
