<div class='modal-header'>
  <div>
    <h1 *ngIf='isNewMode()'>Création d'un véhicule</h1>
    <h1 *ngIf='isUpdateMode()'>Consultation d'un véhicule</h1>
  </div>
  <button mat-icon-button class='close-button' (click)='close(false)'>
    <mat-icon style='color: rgba(0, 0, 0, 0.54)'>close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<form [formGroup]='vehicleForm'>
  <div>
    <mat-form-field style='width: 100%'>
      <mat-label>Immatriculation</mat-label>
      <input type='text'
             matInput
             formControlName='immatriculation'
             placeholder="Numéro de plaque d'immatriculation">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style='margin-right: 1em;'>
      <mat-label>Marque</mat-label>
      <mat-select formControlName="libelle">
        <mat-option *ngFor='let brand of vehicleBrandList' [value]='brand'>
          {{brand}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Modèle</mat-label>
      <input type='text'
             matInput
             formControlName='model'
      placeholder="Modèle du véhicule">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style='margin-right: 1em;'>
      <mat-label>Kilométrage</mat-label>
      <input type='text'
             matInput
             formControlName='kilometrage'
      placeholder="Kilométrage du véhicule">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Essence</mat-label>
      <input type='text'
             matInput
             formControlName='gas'
             placeholder="Niveau d'essence">
      <span matSuffix>Litres</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style='width: 100%'>
        <mat-label>Etat</mat-label>
        <textarea matInput placeholder="Etat physique du véhicule (entretien)" formControlName='state'></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style='width: 100%'>
      <mat-label>Site de stationnement</mat-label>
      <input type='text'
             aria-label="Site de stationnement"
             matInput
             formControlName='site'
             [matAutocomplete]='site_vehicle'>
      <mat-icon>arrow_drop_down</mat-icon>
      <mat-autocomplete #site_vehicle='matAutocomplete'>
        <mat-option *ngFor='let site of sites' [value]='site.label'
                    (onSelectionChange)='setParkingSite($event, site)'>
          {{ site.label }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- AJOUTER LE FLAG SERVICE QD ON EST EN UPDATE -->
  <div class='actions'>
    <button mat-stroked-button (click)='close(false)'>Annuler</button>
    <button mat-raised-button color='primary' (click)='close(true)' [disabled]='!isSaveDisabled()'>Valider</button>
  </div>
</form>
