<div id="sidebar" class="sidebar">
    <button mat-button (click)="redirectTo('users')">
      <div>
        <mat-icon aria-hidden="false" color='primary'>groups</mat-icon>
        <div>Utilisateurs</div>
      </div>
      <mat-icon color='primary'>chevron_right</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="redirectTo('parc')">
      <div>
        <mat-icon aria-hidden="false" color='primary'>directions_car</mat-icon>
        <div>Parc</div>
      </div>
      <mat-icon color='primary'>chevron_right</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="redirectTo('planning')">
      <div>
        <mat-icon aria-hidden="false" color='primary'>date_range</mat-icon>
        <div>Planning</div>
      </div>
      <mat-icon color='primary'>chevron_right</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="redirectTo('loan')">
      <div>
        <mat-icon aria-hidden="false" color='primary'>car_rental</mat-icon>
        <div>Prêt</div>
      </div>
      <mat-icon color='primary'>chevron_right</mat-icon>
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="redirectTo('settings')">
      <div>
        <mat-icon aria-hidden="false" color='primary'>settings</mat-icon>
        <div>Paramètres</div>
      </div>
      <mat-icon color='primary'>chevron_right</mat-icon>
    </button>
    <mat-divider></mat-divider>
</div>
