@import "../common/common.less";

.modal-vehicle {
  mat-form-field {
    display: block;
  }
}

.vehicle-container {
  height: 100%;
  .wrapper{
    height: 100vh;
    .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .add-button {
        position: absolute;
        z-index: 101;
        top: 10px;
        right: 60px;
        > button{
          position: relative;
        }
        & .add-sinister {
          margin-right: 5px;
        }
      }
      .wrapper-card{
        height: 80%;
        display: block;
        margin: 0;
        margin-top: 4em;
        width: 90%;
        .wrapper-card-header {
          display: block;

          .filters{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            mat-form-field {
              margin-left: 2em;
              font-size: 16px;
            }
          }
        }
        .mat-divider {
          border-top-color: @background-color-infinix;
          margin: 0 0.5em;
          width: calc(100% - 1em) !important;
        }
        .wrapper-card-content {
          box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
          overflow: auto;
          height: calc(100% - 100px);
          .mat-elevation-z8 {
            box-shadow: none;
            table {
              width: 100%;
              margin: none;
              .vehicule-detail, .site-detail, .other-detail {
                padding: 0;
                margin: 0 1em;
                flex-grow: 1;
                height: 100%;

                & mat-card-header {
                  background: @background-color-infinix;
                  color: @color-white;
                  padding: .3em 0;
                  border-top-right-radius: 4px;
                  border-top-left-radius: 4px;

                  & mat-card-title {
                    margin: 0;
                  }

                  & .detail-card-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    mat-icon {
                      color: @color-white;
                      margin-right: .5em;
                    }
                  }
                }

                & mat-card-content {
                  padding: 1.5em;
                  position: relative;
                }
              }
              tr {
                &.detail-row {
                  height: 0;
                }
                &.element-row:not(.expanded-row):hover {
                  background: @loan-whitesmoke-hover-color;
                }
                &.element-row:not(.expanded-row):active {
                  background: @loan-whitesmoke-active-color;
                }
                &.element-row td {
                  border-bottom-width: 0;
                }
                & .element-detail {
                  overflow: hidden;
                  display: flex;
                  justify-content: space-between;
                  .element-description {
                    padding: 16px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                  }
                  .button-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;
                    .valid-button {
                      color: @success-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}




