#dashboard{
      height:100%;
      width:100%;
      display: flex;
      flex-wrap: wrap;
      .widget {
        margin: 3em;
        border-radius: 1%;
        width: 400px;
        height: 300px;
        h2 {
          margin: .5em;
        }
      }
      #vehicle-widget {
        width: 1000px;
        height: 300px;
      }
    }
.slide-toggle {
  width: 90%;
}
#logo-infinix{
    width: 120px;
    height: 100%;
    justify-content: center;
    img {
        width:100px;
        height:75px;
        border-radius: 15%;
    }
}

.action-btn,
.btn-modal,
.slide-toggle {
  margin-left: 10px;
}



mat-form-field,
textarea {
  width: 100%;
}

.btn-modal {
  margin-top: 10px;
}