<mat-card id="vehicle-widget" class="widget">
  <mat-card-header>
  <mat-card-title>Rechercher</mat-card-title>
  
  </mat-card-header>
  <div id="filters">
    <mat-form-field class="login-wrapper">
      <mat-label>Rechercher</mat-label>
      <input matInput id="search"(keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <mat-form-field>
        <mat-label>États</mat-label>
        <mat-select>
            <mat-option *ngFor="let etat of etats" [value]="etat">
            {{etat}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>
<mat-card>
  <table mat-table
    [dataSource]="dataSource" multiTemplateDataRows
    matSort>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsName[column]}} </th>
          <ng-container [ngSwitch]='column'>
            <ng-container *ngSwitchCase="'model'">
              <td  mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </td>
            </ng-container>
            <ng-container *ngSwitchCase="'libelle'">
              <td mat-cell *matCellDef="let vehicle"> {{vehicle.libelle}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'immatriculation'">
              <td mat-cell *matCellDef="let vehicle"> {{vehicle.immatriculation}} </td>
            </ng-container>
            <ng-container *ngSwitchCase="'state'">
              <td mat-cell *matCellDef="let vehicle"> {{vehicle.state}} </td>
            </ng-container>
            <ng-container *ngSwitchCase="'status'">
              <td mat-cell *matCellDef="let vehicle"> {{vehicle.status }} </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let vehicle" [attr.colspan]="columnsToDisplay.length">
            <div class='example-element-detail'
                    [@detailExpand]="vehicle === expandedElement ? 'expanded' : 'collapsed'">
              
              
                    <div id="logo-infinix" class="d-flex align-items-center flex-direction-row">
                      <img src="../../assets/pictures/ford.jpg"/>
                    </div>
                    <div class="d-flex align-items-right flex-direction-column">
                      <span>Site : {{ vehicle.site }}</span>
                    
                      <span>Les clés : YUP145 </span>
                      <span>Les doubles des clés : YUP146 </span>
                    
                      <span>Emprunté par : Vincent David </span>
                      <span>Du 24 Février 2021 au 28 Février 2021</span>
                    </div>
                    <div class="d-flex align-items-center flex-direction-row">
                      <button class="action-btn" mat-raised-button color="primary" (click)="openDialog(vehicle)">PLUS D'INFORMATIONS</button>
                      <button class="action-btn" mat-raised-button color="warn" (click)="deleteVehicle(vehicle)">SUPPRIMER</button>
                      <button class="action-btn" mat-raised-button color="warn" (click)="historicalVehicle(vehicle)">HISTORIQUE DES PRÊTS</button>
                    </div>
              
              
            </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let vehicle; columns: columnsToDisplay;"
            class='example-element-row'
            [class.example-expanded-row]="expandedElement === vehicle"
            (click)="expandedElement = expandedElement === vehicle ? null : vehicle">
        </tr>
        <tr mat-row *matRowDef="let vehicle; columns: ['expandedDetail']" class='vehicle-detail-row'></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucune donnée ne correspond à  "{{input.value}}"</td>
        </tr>
    </table>
</mat-card>

<mat-card-content style="margin: 2em; position: relative;" class="wrapper-card-content">
  <div class="mat-elevation-z8">
    
  </div>
</mat-card-content>