<mat-card id="vehicle-widget" class="widget">
  <mat-card-header>
  <mat-card-title>Rechercher</mat-card-title>
  </mat-card-header>
  <div id="filters">
    <mat-form-field class="login-wrapper">
      <mat-label>Rechercher</mat-label>
      <input matInput id="search"(keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <mat-form-field>
        <mat-label>États</mat-label>
        <mat-select>
            <mat-option *ngFor="let etat of etats" [value]="etat">
            {{etat}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="add-loan" (click)="openSiteModal('new', null)">
    Ajouter un site
  </button>
  </div>
</mat-card>
<mat-card>
  <table mat-table
    [dataSource]="dataSource" multiTemplateDataRows
    matSort>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsName[column]}} </th>
          <ng-container [ngSwitch]='column'>
            <ng-container *ngSwitchCase="'label'">
              <td  mat-cell *matCellDef="let site"> {{site.label}} </td>
            </ng-container>
            <ng-container *ngSwitchCase="'adress'">
              <td mat-cell *matCellDef="let site"> {{site.address}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'postalCode'">
              <td mat-cell *matCellDef="let site"> {{site.postalCode}} </td>
            </ng-container>
            <ng-container *ngSwitchCase="'city'">
              <td mat-cell *matCellDef="let site"> {{site.city}} </td>
            </ng-container>
            <ng-container *ngSwitchCase="'phone'">
              <td mat-cell *matCellDef="let site"> {{site.phone }} </td>
            </ng-container>
          </ng-container>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let site; columns: columnsToDisplay;"
            class='example-element-row'
            [class.example-expanded-row]="expandedElement === site"
            (click)="expandedElement = expandedElement === site ? null : site">
        </tr>
        <tr mat-row *matRowDef="let vehicle; columns: ['expandedDetail']" class='vehicle-detail-row'></tr>

        <tr class="mat-row" *matNoDataRow>
        </tr>
    </table>
</mat-card>
