<div id="loan-container">
  <button mat-raised-button color="primary" class="add-loan" (click)="openSiteModal('new', null, null)">
    Ajouter un site
  </button>
<mat-card id="vehicle-widget" class="widget">
  <mat-card-header>
  <mat-card-title>Rechercher</mat-card-title>
  </mat-card-header>
  <div id="filters">
    <mat-form-field class="login-wrapper">
      <mat-label>Rechercher</mat-label>
      <input matInput id="search"(keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>
</mat-card>
<mat-card>
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
  <ng-container *ngIf="column !== 'action'">
    <td mat-cell *matCellDef="let site"> {{site[column]}} </td>
  </ng-container>
  <ng-container *ngIf="column === 'action'">
      <td mat-cell *matCellDef="let site">
    <div class='btn-action-vehicle'>
      <button class='action-btn' mat-raised-button color='primary' (click)="openSiteModal('update', site, site.label)">
        Modifier
      </button>
      <button class='action-btn' mat-raised-button color='warn' (click)='deleteSite(site)'>
        ARCHIVER
      </button>
     </div>
      </td>
  </ng-container>
</ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

</mat-card>


</div>
