#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  #container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    #dashboard{
      height:100%;
      width:100%;
      display: flex;
      flex-wrap: wrap;
      background: whitesmoke;
      .widget {
        margin: 3em;
        border-radius: 1%;
        width: 400px;
        height: 300px;
        h2 {
          margin: .5em;
        }
      }
      #ask-lend-widget {
      }
      #lend-to-come-widget {
      }
      #news-widget {
      }
      #resources-widget {
      }
      #vehicle-widget {
        width: 1000px;
        height: 300px;
      }
    }
  }
}
