<div id="dashboard">
    <mat-card id="ask-loan-widget" class="widget">
        <mat-card-header>
            <mat-card-title>Mes demandes de prêt</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card id="loan-to-come-widget" class="widget">
        <mat-card-header>
            <mat-card-title>Mes emprunts à venir</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card id="news-widget" class="widget">
        <mat-card-header>
            <mat-card-title>Actualités</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card id="resources-widget" class="widget">
        <mat-card-header>
            <mat-card-title>Ressources</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card id="vehicle-widget" class="widget">
        <mat-card-header>
            <mat-card-title>Véhicules disponibles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>