<div id="wrapper">
    <app-header></app-header>
    <div id="container">
        <app-sidebar></app-sidebar>
        <div id="dashboard">
            <mat-card id="ask-lend-widget" class="widget">
                <mat-card-header>
                    <mat-card-title>Mes demandes de prêt</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card id="lend-to-come-widget" class="widget">
                <mat-card-header>
                    <mat-card-title>Mes emprunts à venir</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card id="news-widget" class="widget">
                <mat-card-header>
                    <mat-card-title>Actualités</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card id="resources-widget" class="widget">
                <mat-card-header>
                    <mat-card-title>Ressources</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <mat-card id="vehicle-widget" class="widget">
                <mat-card-header>
                    <mat-card-title>Véhicules disponibles</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
